@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #00B3AD, #006663);
}
h1{
    color: #883000;
    text-align: center;
    text-shadow: 1px 1px 0px #6b2500;
}
h2{
    color: #FF6B1A;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #002726;
}
p{
    text-align: justify;
}